<% provide(:title, 'More about Black Ink') %>
<div class="center hero-unit">
  <h1>More about Black Ink</h1>

  <ul><li><h4>Infinite possibilities  </h4></li></ul>

  <p>With Black Ink anyone can create unique custom brushes. Just browse our forums to find and download new tools to add to your collection.
    You can easily tweak them yourself and if you’re feeling like an inventor, explore our unique controllers system, create your ultimate brush and share it!
    The controllers are a new tool never seen in 2D painting packages before. They open access to the behavior of every brush parameter and give full control to the user. Every parameter can act exactly as you want for an infinite number of combinations. Check the samples included in Black Ink to see how different the results can be, using only the power of the controllers.
    Every brush can be used with the other innovative functions of Black Ink like the gradients or the image-based color, for an infinity of different uses. All these combinations unveil the power of generative art, where your computer becomes a complete and unique creative tool and a new inspiration source.</p>
  <ul><li><h4>Amazing speed </h4></li> </ul>

  <p>Black Ink’s unique GPU-based rendering engine enables blazing fast performance on any picture resolution. 10K pictures will become your new standard before you even realize it!</p>

  <ul><li><h4>Unique experience</h4></li></ul>
  <p>Black Ink also feature a fresh user experience with its clean and responsive user interface, instant access to brushes and colors history and real time visual brush preview.</p>

  <ul><li><h4>Black Ink development</h4></li></ul>
  <p>We are an independant company dedicated to the development of Black Ink. To see all of its creative and ground-breaking features become a reality, we need your help as beta users. Since Black Ink is still under development, you can purchase a license now at the discounted price of 34,99€ and end up with a complete Black Ink for only a fraction of its final price! Every license purchased today grants every future Black Ink updates free of further charge and a free Steam key when it is released.

  <ul><li><h4>What are we working on</h4></li></ul>
  <p>We are currently working on new 2D controllers nodes (usefull for shape scattering) and stroke modifier system. Other important improvements will be released after. Stay tuned!
</div>
