<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="неофициальный сайт Black Ink">
<meta name="author" content="B2B">
<meta name="keywords" content="Black ink">

<div class="center hero-unit">
	<%= link_to image_tag("http://blackink.bleank.com/images/BlackInk_AdvancedDigitalPainting.jpg", alt: "Rails"), 'http://blackink.bleank.com/' %>
  <h1>More about Black Ink.</h1>



    
</div>


</html>
