<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="неофициальный сайт Black Ink">
<meta name="author" content="B2B">
<meta name="keywords" content="Black ink">

<% provide(:title, 'More about Black Ink') %>
<div class="center hero-unit">
<div style=" position:relative; left: 0px;">
<img src=http://www.bleank.com/media-image-109.jpg?h=158&w=319 alt="Alternative text" title="Image!" />
</div>

<h2>The Version 0.161.1686 is now available</h2>

<p>Long time since the last update. Due mainly to lot of personal duty for the team members.</p>
<p>Anyway this version mainly introduces more complex layer operations (which is the most requested features from the community).</p>

<p>Please note that this is the last release before a discount update which will occur in one week from this post. So if you are still undecided for Black Ink make your decision before the end of the next week, or it will cost you few more bucks ;)</p>

<p>Many thanks to all the users who already purchased Black Ink! The community grows brb every day and we are really amazed by your great feedback on our product.</p>

<h3>Now here the list of changes :</h3>
<h4>
<ul>
  <li>New User can now use the .JPG image format in Black Ink for saving and loading.</li>
  <li>New Command Menu for each layer (in the upper left of the layer thumbnail) :</li>
  <li>Duplicate Layer</li>
  <li>Fill - Fill the layer with the given solid color</li>
  <li>Transform - Transform the whole layer</li>
  <li>Merge Down - Merge down the layer</li>
  <li>Merge Visible - Merge all visible layers</li>
  <li>Merge All - Merge All layers into a flattened image</li>
  <li>Export Image - Export the layer as an image</li>
  <li>Import Image - Import an image in the layer</li>
  <li>New You can Drop an image file from the Window Explorer to open it. If it’s a .BKD it will open the document but if it’s another file format( .JPG, .PNG ) it will import it in the current selected layer.</li>
  <li>New T shortcut ( Transform the current selected layer ).</li>
  <li>New “General Shortcuts” section added in the Toolbar.</li>
  <li>New “Transform” section added in the Toolbar.</li>
  <li>New Transform Editor ( invoked when user starts a Transform operation )</li>
  <li>You can set the opacity of the current transformed object before applying the transformation</li>
  <li>Center the transformed object</li>
  <li>Tile the transformed object thought the entire canvas</li>
  <li>Fit the transformed object thought the entire canvas</li>
  <li>Fill the canvas with transformed object content</li>
  <li>Flip the Transformed object Horizontally or vertically</li>
  <li>Reset the Transformed aspect ratio back to its original size</li>
  <li>Fixed The Eraser function of stylus is not recognised on new Intuos PRO ( issue )</li>
  <li>Fixed Impossible to Pin the Black Ink.exe in the TaskBar ( issue )</li>
  <li>Fixed Problem when resizing the application window with the controller panel opened ( issue )</li>
  <li>Fixed Crash when using the stylus Eraser when brushing with the mouse. </li>
  <li>Fixed Crash when switching to the stylus Eraser when editing some Controller parameter</li>
  <li>Fixed Crash when selecting the Crepe Default Brush, editing the 2nd color and drag&dropping one of the color-markers away (to remove it)</li>
  <li>Fixed Brush Preview flooding when Dragging out controller block from a slot without destroying it. A Preview was created each time the user start to draw while it was unnecessary.</li>
  <li>Fixed Black Ink Window is correctly placed when Maximized with a Task bar pinned on the left, right or top of the desktop ( issue )</li>
  <li>An Empty= Layer is created above the default white Background when the New command is invoked (request)</li>
  <li>The Shortcut Esc that sometimes close Black Ink has been removed.</li>
  </ul>
</h4>
  </div>
</div>
</html>