@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #100f0b;

html, body {
  height: 100%;
  width: 100%;
  position:  relative;
  height: auto !important;
  min-height: 100%;



}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 10%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h1:hover {
text-decoration: underline;
 color: white;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h4 {

  text-align: left;

  }

p {
  
  line-height: 1.7em;
  text-align: left;
  padding-left: 0;

}

nav li {
  padding-left: 0;
}


/* header */

#logo {

  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $black;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }

.mask-wrapper {
  height: 37px;
  margin-left: 5px;
  margin-top: 5px;
}
.mask-wrapper .send-file {
  padding: 3px 20px;
  margin-left: 3px;
  color: #000000;
  background-color: #2dcc47;
}
.mask-wrapper .fileInputText {
  position: relative;
  width: 133px;
  top: 3px;
}
.custom-file-input {
  width: 252px;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  top: -27px;
  left: -16px;
  z-index: 99999;
  cursor: pointer;

}

}

.hero-unit{
 width: 100%;
  background-color: #f5f5f5;
  a{
    text-decoration: none;
    color: #a1a1a1 !important;
    &:hover, active {
      text-decoration: none;
      color: #a1a1a1 !important;
    }
  }
}


  
  
#btn1 {
    background-color:#00BFFF;
    color: black;
    padding: 3px 5px;
    border-radius: 5px;
    position: relative;
    top: 0;
    z-index: 1;
}

#btn1:hover {
color: #00BFFF;
text-decoration: underline;
 color: white;
}


  
  .file_button_container,
  .file_button_container input {
       height: 47px;
       width: 263px;
   }

   .file_button_container {
       background: transparent url(http://cs606730.vk.me/v606730133/44c6/glSUPhVyOX0.jpg) left top no-repeat;
   }

   .file_button_container input {
       opacity: 0;
   }

   .field{
width: 30%;
   }