@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #100f0b;

body{
  position:  relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  background-color: #00c300;//hsl(2, 57%, 40%);


}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 10%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h4 {

  text-align: left;

  }

p {
  
  line-height: 1.7em;
  text-align: left;
}


/* header */

#logo {

  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $white;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }

.mask-wrapper {
  height: 37px;
  margin-left: 5px;
  margin-top: 5px;
}
.mask-wrapper .send-file {
  padding: 3px 20px;
  margin-left: 3px;
  color: #000000;
  background-color: #2dcc47;
}
.mask-wrapper .fileInputText {
  position: relative;
  width: 133px;
  top: 3px;
}
.custom-file-input {
  width: 252px;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  top: -27px;
  left: -16px;
  z-index: 99999;
  cursor: pointer;
}

}

.hero-unit{
  background-color: #f5f5f5;
  a{
    text-decoration: none;
    color: #a1a1a1 !important;
    &:hover, active {
      text-decoration: none;
      color: #a1a1a1 !important;
    }
  }
}

